<% if @sent_transactions.present? %>
  <h2> Sent transactions </h2>
  <%= table_for @sent_transactions do |table| %>
    <% table.column :amount, :header => "Amount" %>
    <% table.column :full_name, :header => "Full name" %>
  <% end %>
<% end %>

<% if @received_transactions.present? %>
  <h2> Received transactions </h2>
  <%= table_for @received_transactions do |table| %>
    <% table.column :amount, :header => "Amount" %>
    <% table.column :full_name, :header => "Full name" %>
  <% end %>
<% end %>